<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Ajout d'une autorisation de connexion</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h1>Résultat de la demande d'autorisation</h1>
            <div class="alert alert-danger">
                <i class="glyphicon glyphicon-ban-circle"></i>
                Une erreur est survenue lors de votre demande d'autorisation d'acc&egrave;s au(x) serveur(s).
            </div>
            <div class="alert alert-warning">
                <b>Commande :</b> %command%<br />
                <b>Message :</b> %message%
            </div>
        </div>
    </body>
</html>