<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Ajout d'une autorisation de connexion</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h1>Résultat de la demande d'autorisation</h1>
            <div class="alert alert-success">
                <i class="glyphicon glyphicon-ok"></i>
                Votre acc&egrave;s au(x) serveur(s) a &eacute;t&eacute; autoris&eacute;.
            </div>
            %user_message%
        </div>
    </body>
</html>